.checkout{
    display: flex;
    padding: 15px; 
    /* justify-content: space-between; */
    
}

.checkout__ad{
    width: 100%;
    margin-bottom: 10px; 
}
.checkout__title{
    padding: 10px;
    border-bottom:3px solid lightgray;
}

.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 3px solid lightgrey;
    padding-bottom: 20px;
    align-items: center;
}
.checkoutProduct img{
    width: 180px;
    height: 180px;  
    object-fit: contain ;
}
.checkoutProduct__info{
    padding-left: 20px;
}
.checkoutProduct__title{
    font-size: 17px;
    font-weight: 700;
}
.checkoutProduct__price{
    margin: 10px 0px;
}
.checkoutProduct__info button{
    background-color: #f0c14b;
    border: 1px solid;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.checkout__right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: whitesmoke;
    border: 1px solid  #ddd;
    border-radius: 10px;
    position: sticky;
    top: 100px;
}
.checkout__right button{
    background-color: #f0c14b;
    border: 1px solid;
    padding: 7px 20px;
    /* border-radius: 5px; */
    cursor: pointer;
}
  